#titleContainer
{
    width: 100vw;
    display: flex;
    margin: 1%;
}
#titleText
{
    display: inline-block;
    flex: 1;
    margin: 0;
}
#stateLogin
{
    border: solid;
    border-radius: 10px;
    border-width: 1px;
    display: inline-block;
    margin-left: auto;
    margin-right: 2%;
    padding: 0% 1% 0% 1%;
}
#stateLoginTouchable
{
    background-color: transparent;
    border: 0;
    color: black;
    margin: 0;
    padding: 0;
}
#stateLogin:hover
{
    background-color: rgb(200, 200, 200);
}
#submitBlogButton
{
    color: black;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}
#submitBlogButton:hover
{
    background-color: rgb(200, 200, 200);
}
#newNoteForm
{
    width: 100%;
}
.centerContent
{
    display: flex;
    justify-content: center;
    align-items: center;
}
input
{
    box-sizing: border-box;
    width: 100%;
}
header
{
    padding: 0;
}